@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500,600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
    font-size: 50px; 
    line-height: 64px; 
    color:#222;
}

h2 {
    font-size: 46px; 
    line-height: 54px; 
    color: #222;
}

h4{
    font-size: 20px;
    color:#222;
}

h6{
    font-weight: 700;
     font-size: 12px;
}

p{
    font-size: 16px; 
    color:口#465b52;
    margin: 15px 0 20px 0;
}

.section-p1{ 
    padding:40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal {
    font-size:14px;
    font-weight: 600; padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px; 
    cursor: pointer;
    border: none; 
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size:13px;
    font-weight: 600; 
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff; 
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/* Navbar */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
}

#nevbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nevbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#nevbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#nevbar li a:hover,
#nevbar li a.active {
    color: #088178;
}

#nevbar li a.active::after,
#nevbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* home */

#hero{
    background-image:url("img/about/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% rigth 0;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("img/about/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fev-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.07);
    border: 1px solid #cce780;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fev-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.01);
}

#feature .fev-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fev-box h6{
    display: inline-block;
    padding: 9px 8px 6px 9px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #d1e8f2;
}

#feature .fev-box:nth-child(2) h6{
    background-color: #fddde4;
}

#feature .fev-box:nth-child(3) h6{
    background-color: #cdebbc;
}

#feature .fev-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fev-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fev-box:nth-child(6) h6{
    background-color: #fff2e5;
}


/* Prodects */

#product1{
    text-align: center;
}

#product1 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce780;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des .span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce780;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

/* banner */

#banner{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/about/banner/b2.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

/* Banner carzy deals */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/about/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/about/banner/b10.jpg");
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/about/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("img/about/banner/b4.jpg");
}

#banner3 .banner-box3{
    background-image: url("img/about/banner/b18.jpg");
}

#banner3 h2{
    color:#fff;
    font-weight:900;
    font-size: 22px;
}

#banner3 h3{
    color:#ec5442;
    font-weight:800;
    font-size: 15px;
}

/* Slider */
#new-slider .form{
    display: flex;
    width: 40%;
}

#new-slider{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/about/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#new-slider h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#new-slider p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#new-slider p span{
    color: #ffbd27;
}

#new-slider input{
    height: 3.125rem; 
    padding: 0 1.25em; 
    font-size: 14px; 
    width: 100%;
    border: 1px solid transparent; 
    border-radius:4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#new-slider button {
    background-color: #088178;
    color: #fff;
    white-space:nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}


footer .col-install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .col-install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{ 
    color: #088178;
}

footer .copy{
    width: 100%;
    text-align: center;
}


/* shop */

#pageheader{
    background-image: url("img/about/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#pageheader h2
,#pageheader p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* single product */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .singleimg{
    width: 40%;
    margin-right: 50px;
}

.smallimggp{
    display:flex;
    justify-content: space-between;
}

.smallimgcol{
    flex-basis: 24%;
    cursor: pointer;
    justify-content: space-between;
}

#prodetails .singleprodit{
    width: 50%;
    padding-top: 30px;
}

#prodetails .singleprodit h4{
    padding: 40px 0 20px 0;
}

#prodetails .singleprodit h2{
    font-size: 26px;
}

#prodetails .singleprodit select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .singleprodit input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    
}

#prodetails .singleprodit button{
    color: #fff;
    background-color: #088178;
}

#prodetails .singleprodit input:focus{
    outline: none;
}

#prodetails .singleprodit span{
    line-height: 25px;
}

/* blog */

#pageheader.bolgheader{
    background-image: url("img/about/banner/b19.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* About */

#pageheader.about-header{
    background-image: url("img/about/banner.png");
}

#pageheader span{
    color: #088178;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px;
    margin-left: 30px auto 0 auto;
}

#about-app .video vedio{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* contact */

#contactdetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contactdetails .details{
    width: 40%;
}

#contactdetails .details span,
#form-details form span{
    font-size: 12px;
}

#contactdetails .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contactdetails .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contactdetails .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contactdetails .details li i{
   font-size: 14px;
   padding-right: 22px;    
}

#contactdetails .details li p{
    margin: 0;
    font-size: 14px;
}

#contactdetails .map{
    width: 55%;
    height: 400px;
}

#contactdetails .map iframe{
    width: 100%;
    height: 100%;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form  button{
    background-color: #088178;
    color: #fff;
}

/* cart */

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cart-add #coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#sub-total h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#sub-total button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#sub-total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#sub-total table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#sub-total table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* media query */

@media (max-width:799px) {
    #nevbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #nevbar .active{
        right: 0px;
    }

    #nevbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
        
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #hero{
        height: 70vh;
        background-position: top 30% right 30%;
        padding:0 80px; 
    }

    #banner{
        height: 20vh;
    }

    #sm-banner .banner-box{
        min-width: 100%; 
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    #new-slider .form {
        width: 70%;
    }

}

@media (max-width:477рх) {
    #header{
        padding: 10px 20px;
    }

    #header .lo{
        padding:none;
        align-items:flex-start;
    }

    #hero {
        padding: 0 20px; 
        background-position:55%;
    }

    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2{
        height: 20px;
    }
    #banner3{
        padding:0 20px;
    }

    #banner3 .banner-box3{
        width: 100%;
    }

    #new-slider{
        padding: 40px 20px;
    }
    #new-slider .form{
        width: 100%;
    }

    /* single product */
    #productdit{
        display: flex;
        flex-direction: column;
    }

    #productdit .singleimg{
        width: 100%;
        margin-right: 0px;
    }

    #productdit .singleprodit{
        width: 100%;
    }

    /* blog page */
    #blog{
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
    }

    #blog .blog-img {
         width: 100%; 
         margin-right:0px;
         margin-bottom: 30px;
    }

    #blog .blog-details {
         width: 100%;
    }

    /* about */

    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-app .Video {
        width: 100%;
    }
}